  /* Estilos básicos com a cor principal retrô */
  :root {
    --cor-principal: #FFC567;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-principal);
    color: #333; /* Cor do texto para contraste */
    transition: background-color 0.5s;
  }
  .dark-mode {
    background-color: #333;
    color: white;
  }
  /* Estilos do menu com a cor principal */
  .menu {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-principal);
    padding: 1rem;
  }
  /* Estilos dos cards com borda da cor principal */
  .card {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid var(--cor-principal);
    border-radius: 5px;
  }
  /* Botão para alternar o modo claro/escuro com a cor principal */
  button {
    background-color: var(--cor-principal);
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #333;
    color: var(--cor-principal);
  }
