body {
    background: #2d3250;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

#menu {
    position: fixed;
    margin: 0px 20px 0 0 ;
    background-color: #f9b17a;
    width: 100%;
    z-index: 1;
}

#menu li {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px 10px;
}

#menu a {
    color: #424769;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
}

.nav-bar {
    display: flex;
    justify-content: center;
}

#github-nav {
    width: 28px;
    height: 28px;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;  
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #f9b17a;
}

.icon-menu-mobile {
    display: none;
}

.menu-mobile {
    display: none;
}
.secao-principal {
    background: linear-gradient(to bottom, transparent 0%, #2d3250 95%), url(../imagens/nasa.jpg);
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
}

#dados {
    margin-top: 300px;
    flex-direction: column;
}

.secao-principal h1 {
    text-align: left;
    font-size: 46px;
    color: #ffffff;
}

.secao-principal h3 {
    text-align: left;
    font-size: 22px;
    color: #f9b17a;
}

.secao-principal h2 {
    text-align: left;
    font-size: 22px;
    color: #f9b17a;
}

#img-home {
    float: right;
    padding-top: 210px;
}

#img-programming {
    width: 250px;
    height: 250px;
}

.midias-profile {
    width: 100%;
    height: 40px;
    animation-name: rgb-background;
    animation-duration: 12s;
    display: inline-flex;
    justify-content: center;
    padding-bottom: 60px;
}

#github, #linkedin, #instagram, #x {
    width: 28px;
    height: 28px;
    padding: 10px;
    font-size: 1em;
    background-color: #18191f;
    color: #ffffff;
    box-shadow: 2px 2px 2px #f9b17a, 10px 1px 12px #000000,
    2px 2px 10px #000000, 2px 2px 3px #000000,
    inset 2px 2px 10px #000000,
    inset 2px 2px 10px #000000, inset 2px 2px 10px #000000;
    border-radius: 10px;
    padding: 11px 19px;
    margin: 0 20px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #f9b17a,
    0 0 200px #f9b17a;
}

#sobre-mim {
    height: 250px;
    display: flex;
    justify-content: center;
    padding: 0 50px 0 50px;
}

.slider {
	width: 1024px;
    	position: relative;
	
}

.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 150px;
	height: 150px;
	opacity: 0;
	transition: opacity 3s linear;
    	width: 210px;
    	height: 210px;
    	float: left;
    	box-sizing: border-box;
    	border: 2px solid #f9b17a;
    	border-radius: 10px;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#sobre-mim h3 {
    color: #f9b17a;
    font-size: 40px;
    padding-top: 20px;
    display: flex;
    padding-left: 10px;
}

#sobre-mim p {
    color: #ffffff;
    font-size: 22px;
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
}
#sec-cards{
    margin: 50px 0 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card{
    width: 200px;
    height: 300px;
    position: relative;
    perspective: 800px;
    margin: 0 40px 0 40px;
}

.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    border: 2px solid #2d3250;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.front, .back h3 {
    font-weight: bold;
    padding-bottom: 20px;
}

.front {
    background-color: #f9b17a;
    color: #424769;
    flex-direction: column;
}

.front img {
    width: 50px;
    height: 50px;
}

.back{
    background-color: #424769;
    color: #f9b17a;
    transform: rotateY(-180deg);
}

.card:hover .front{
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(0);
}

.rodape {
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, transparent 0, #2d3250 95%), url(../imagens/nasa.jpg);
}

.rodape p {
    padding-top: 100px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}

.rodape a {
    text-decoration: none;
    text-transform: none;
    color: #f9b17a;
}

/*responsive site*/

@media screen and (max-width: 999px) {
    body {
        width: 100%;
    }

    #menu {
        position: fixed;
        margin: 0px 20px 0 0 ;
        width: 100%;
    }

    #menu li {
        display: inline-block;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 5px 10px;
    }

    #menu a {
        font-size: 12px;
    }

    .nav-bar {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .icon-menu-mobile {
	display: flex;
        justify-content: center;
    }

    .icon-menu-mobile button {
        background-color: transparent;
        border: none;
        cursor: pointer;
	width: 35px;
        height: 35px;
    }

    .menu-mobile ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .menu-mobile .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    .menu-mobile button {
        width: 100%;
    }

    .open {
        display: block;
    }

    .secao-principal {
        display: flex;
        align-content: center;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        padding-top: 200px;
    }

    #dados {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 0;
        align-items: center;
    }

    .secao-principal h1 {
	font-size: 34px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .secao-principal h3 {
        padding-top: 10px;
        text-align: left;
        font-size: 12px;
    }

    #img-home {
        float: right;
        padding-top: 0;
    }

    #img-programming {
        width: 200px;
        height: 200px;
    }

    .midias-profile {
        height: 70px;
        align-items: center;
    }

    #github, #linkedin, #instagram, #x{
        width: 29px;
        height: 29px;
        padding: 5px;
        margin: 0 10px;
    }

    #sobre-mim {
        padding: 0 50px 0 50px;
    }

    .slider-wrapper {
        width: 120px;
        height: 120px;
        position: relative;
    }

    .slide {
        width: 120px;
        height: 120px;
    }
	
	.slider {
        width: 130px;
        height: 130px;
    }

    #sobre-mim h3 {
        font-size: 17px;
        padding-top: 20px;
        padding-bottom: 0;
    }

    #sobre-mim p {
        font-size: 12px;
        padding-top: 20px;
    }

    #sec-cards {
        margin: 0 0 50px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
    width: 150px;
    height: 200px;
    position: relative;
    perspective: 800px;
    margin: 40px 75px 40px 40px;
    display: flex;
    }

    .rodape {
        height: 100px;
    }

    .rodape P {
        padding-top: 50px;
        font-size: 12px;
    }
}
